<div class="myself">
<h1> Gerrit Boogert </h1>
<img src="train_picture.jpg" />
<h2> Paramedic and Music Major </h2>
<p>I have been working with computers throughout my life. I first learned to program in 5th grade when I made my own BASIC program.</p>
<p>I have completed courses on Codecademy.com in Javascript, Python and PHP.</p>
</div>
