<div class="myself">
<h1> Gerrit Boogert </h1>
<div class="crop">
  <a href="smalltrain.JPG">
    <img src="smalltrain.JPG" width="100px" />
  </a>
  </div>
<h2> MSIS Student </h2>
  <p>Expected completion date: Spring 2016</p> 
<p>I have been working with computers throughout my life. I first learned to program in 5th grade when I made my own BASIC program. I have extensive work experience in Healthcare and am currently employed as a paramedic.</p>
<p>I have completed courses on Codecademy.com in Javascript, Python and PHP.</p>
</div>
